# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ForgottenTales_src.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Games\ForgottenTales_src\.idea\.idea.ForgottenTales_src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
